.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    
}

.result {
    border-radius: 5px;
    border: .5px solid black;
    margin: 0 10px 0 10px;
    width: 400px;
    height: 50px;
    background: rgb(240, 185, 217);
    padding: 8px 16px;
    font-size: 32px;
}

.button {
    width: 200px;
    height: 50px;
    background-color:black;
    border-radius: 15%;
    color: white;
    
}

.qrWrapper svg path:last-child {
    fill: rgb(21, 22, 22)
}